body {
  background: white;
}

.date-navigator {
  position: absolute;
  right: 10px;
  top: 5px;
}

.dish-picker {
  position: relative;

  > ul {
    background: white;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px #ccc;
    list-style: none;
    max-width: 200px;
    padding: 0 5px;
    position: absolute;
    top: 2em;

    li.extra {
      border-top: 1px solid #ccc;
    }

    li.selected {
      background: #ffc;
    }
  }
}

form > * {
  margin: 0 0 10px
}

.icon-button {
  height: 20px;
  margin-left: 5px;
  padding: 0;
  width: 20px;
}

.login-page {
  margin: 50px auto;
  text-align: center;
  width: 400px;
}

.meal {
  > span {
    font-weight: bold;
  }

  > ul {
    list-style: none;
    font-size: 0.8em;
    margin-top: 10px;
    padding-left: 5px;
  }
}

.meals-table {
  margin-top: 30px;
}

.modal {
  background: rgba(0, 0, 0, 0.25);
}

.page-not-found {
  margin-top: 10px;
  text-align: center;
  width: 100%;
}

.people {
  display: inline-block;
  margin-left: 20px;
  position: relative;

  > .status {
    > span {
      display: inline-block;
      padding-left: 10px;
      vertical-align: middle;
    }
  }

  > .people-list {
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 2em;
  }
}

.portion-counter {
  > h3 {
    font-size: 1em;
  }

  > ul {
    list-style: none;
    padding-left: 0;

    > li {
      display: inline-block;

      &::after {
        content: '|';
        padding: 0 15px;
      }
    }
  }
}
