body {
  background: white;
}

.login-page {
  margin: 50px auto;
  text-align: center;
  width: 400px;

  > form > * {
      margin: 0 0 10px
  }
}

.page-not-found {
  margin-top: 10px;
  text-align: center;
  width: 100%;
}

.people {
  position: relative;

  > .person-list {
    position: absolute;
  }
}
